.card {
	text-align: center;
	font-size: 0.7rem;
	position: relative;
	max-width: 20rem;
}

.imgcontainer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	height: 100%;
	aspect-ratio: 1;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.img {
	width: 100%;
	height: auto;
}

.fullimage {
	object-fit: contain;
}

.title {
	text-transform: capitalize;
}
