.maingrid {
	width: calc(100% - 1rem);
	margin-inline: auto;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	/* gap: 1rem; */
}

.main {
	padding: 2rem 0;
	width: min(100% - 1rem, 56.25rem);
	margin-inline: auto;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-auto-rows: min-content;
	gap: 1.5rem;
}

.categorybox {
	width: 100%;
	margin-inline: auto;
	margin-top: 2rem;
}

.asidead {
	max-width: 20.625rem;
	margin-top: 2rem;
	padding: 0 1rem;
}

@media (min-width: 76.88rem) {
	.maingrid {
		width: min(100% - 1rem, 76.88rem);
		grid-template-columns: 56.25rem 20.625rem;
	}
	.categorybox {
		width: min(100% - 1rem, 76.88rem);
	}
}

@media (min-width: 52.125rem) {
	.maingrid {
		/* grid-template-columns: repeat(1, 1fr); */
	}
	.main {
		grid-template-columns: repeat(2, 1fr);
	}
	.main > * {
		width: 100%;
	}
}
