.commentsform {
	width: min(100% - 2rem, 62rem);
	margin-inline: auto;
}

.title {
	font-family: coc;
}

.commentarea {
	-webkit-appearance: none;
	appearance: none;
	resize: none;
	border: none;
	outline: none;
	width: 100%;
	border-radius: 0.71rem;
	height: 20vh;
	padding: 0.6rem 1rem;
	font-size: 1.2rem;
	font-weight: bold;
	background-color: #fff;
	color: #000;
	box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.6);
}

.userdata {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.user {
	width: 100%;
}

.data {
	-webkit-appearance: none;
	appearance: none;
	resize: none;
	border: none;
	outline: none;
	width: 100%;
	border-radius: 0.71rem;
	padding: 0.6rem 1rem;
	font-size: 1.2rem;
	font-weight: bold;
	background-color: #fff;
	color: #000;
	box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.6);
}

.store {
	margin: 1rem 0;
	display: flex;
	align-items: center;
}

.storecheck {
	width: 2rem;
}

.storelabel {
	font-family: coc;
	cursor: pointer;
}

.submit {
	border: none;
	margin: 0.8rem 0;
	display: block;
	width: fit-content;
	padding: 0.51rem 1.7rem;
	text-align: center;
	border-radius: 0.31rem;
	font-weight: bolder;
	font-family: coc;
	font-size: 1.2rem;
	text-transform: capitalize;
	/* background-color: rgba(54, 54, 54, 0.1); */
	/* color: rgba(127, 127, 127, 0.75); */
	background-color: #f69d2d;
	color: white;
	transform: scale(1);
	transition: transform 0.2s ease-in-out;
}

.submit:hover {
	cursor: pointer;
	transform: scale(1.04);
}

.error {
	color: red;
	font-size: 0.7rem;
}

.success {
	color: green;
	font-size: 0.9rem;
}
