.mainnav {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: #f39c2d;
	color: white;
	padding: 1rem;
	text-align: center;
	height: 3rem;
}

.navcontent {
	width: min(100% - 1rem, 76.88rem);
	margin-inline: auto;
	display: flex;
	justify-content: space-between;
}

.logo {
	max-width: 8rem;
	transform: translateY(-1rem);
}
