.cover {
	width: 100%;
	height: auto;
}

.title {
	margin: 1rem 0 0.1rem 0;
	text-align: center;
	font-size: clamp(0.4rem, 2vw + 1rem, 2rem);
}
.date {
	display: block;
	text-align: center;
	font-family: coc;
	font-style: italic;
	font-size: 0.7rem;
}

.paragraph {
	max-width: 64ch;
	padding: 0 2rem;
	text-align: justify;
	margin: 1rem auto;
}

.inimg {
	width: 70%;
	height: auto;
	margin-inline: auto;
	border-radius: 0.71rem;
}

.growning {
	width: min(100% - 4rem, 62rem);
	max-height: 20vh;
	margin-inline: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 0.5rem;
	overflow: hidden;
}

.imgcontainer {
	width: 100%;
	flex: 0.5;
	transition: flex 0.5s ease-in;
}

.imgcarousel {
	width: 100%;
	/* height: auto; */
	object-fit: contain;
	object-position: center;
}

.imgcontainer:hover {
	flex: 4;
}

@media (min-width: 60rem) {
	.post {
		display: flex;
	}

	.cover {
		position: sticky;
		top: 0;
		width: 50%;
		flex: 1;
		height: 100dvh;
		object-fit: cover;
		object-position: center bottom;
	}
	.content {
		flex: 1;
	}
}
